In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("all_combined_DEG.tsv",sep="\t")

In [3]:
df.head()

,p_val,avg_log2FC,pct.1,pct.2,p_val_adj,fdr,Cluster,geneName,ENTREZID,group,myCluster
0,5.756060e-81,0.847197,0.346,0.005,1.787429e-76,6.907272e-79,LT-HSC.1,Trim12a,76681.0,UP,LT-HSC.1
1,5.791799e-64,-1.119813,0.008,0.442,1.798527e-59,3.475079e-62,LT-HSC.1,Echdc2,52430.0,DN,LT-HSC.1
2,8.276152e-55,0.526138,1.000,1.000,2.569993e-50,3.310461e-53,LT-HSC.1,Gm42418,NaN,UP,LT-HSC.1
3,4.344522e-39,-0.310458,1.000,1.000,1.349104e-34,1.303356e-37,LT-HSC.1,Rpl35a,57808.0,DN,LT-HSC.1
4,1.984737e-32,-0.239128,1.000,1.000,6.163204e-28,4.763369e-31,LT-HSC.1,Rps29,20090.0,DN,LT-HSC.1

In [4]:
df = df.sort_values("avg_log2FC")

In [5]:
df.head()

,p_val,avg_log2FC,pct.1,pct.2,p_val_adj,fdr,Cluster,geneName,ENTREZID,group,myCluster
251,4.481369e-88,-1.141771,0.003,0.415,1.391600e-83,4.167674e-86,ST-HSC.1,Echdc2,52430.0,DN,ST-HSC.1
1,5.791799e-64,-1.119813,0.008,0.442,1.798527e-59,3.475079e-62,LT-HSC.1,Echdc2,52430.0,DN,LT-HSC.1
116,5.098101e-56,-1.103615,0.013,0.471,1.583113e-51,8.462848e-54,LT-HSC.2,Echdc2,52430.0,DN,LT-HSC.2
343,1.927169e-30,-1.047393,0.011,0.394,5.984437e-26,3.507447e-28,ST-HSC.2,Echdc2,52430.0,DN,ST-HSC.2
643,6.483726e-38,-0.942100,0.005,0.367,2.013391e-33,1.361582e-35,MEP,Echdc2,52430.0,DN,MEP

In [6]:
df = df.drop_duplicates("geneName")

In [7]:
df.shape

(530, 11)

In [8]:
df.group.value_counts()

UP    377
DN    153
Name: group, dtype: int64